$accent: orange
$text: #F1F1F1
$orange: #F26628
$blue: #305D7A
$blue-modal: rgba(48, 93, 122, .8)
$button-hover: rgb(49, 106, 142)
$button-active: rgb(50, 90, 114)

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px
$grid-columns: 12
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px)

$gutter: $grid-gutter-width
